@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import "tailwindcss";

/* Ratio: 1.2 */
html {
    @apply font-mono;
    font-size: 30.2%;
}

@media screen and (min-width: 480px) {
    html {
        font-size: 36.2%;
    }
}

@media screen and (min-width: 640px) {
    html {
        font-size: 43.4%;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 52.1%;
    }
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 62.5%;
    }
}


@theme {
    --font-mono: "Fira Code", "monospace";

    --color-bg: rgb(0, 0, 0);
    --color-bg-20: rgba(0, 0, 0, 0.2);
    --color-bg-40: rgba(0, 0, 0, 0.4);
    --color-bg-60: rgba(0, 0, 0, 0.6);
    --color-bg-80: rgba(0, 0, 0, 0.8);
    --color-primary: rgb(255, 254, 226);
    --color-primary-20: rgba(255, 254, 226, 0.2);
    --color-primary-40: rgba(255, 254, 226, 0.4);
    --color-primary-60: rgba(255, 254, 226, 0.6);
    --color-primary-80: rgba(255, 254, 226, 0.8);
    --color-accent: rgb(255, 62, 1);
    --color-accent-20: rgba(255, 62, 1, 0.2);
    --color-accent-40: rgba(255, 62, 1, 0.4);
    --color-accent-60: rgba(255, 62, 1, 0.6);
    --color-accent-80: rgba(255, 62, 1, 0.8);

    /* Ratio: 1.618 */
    --text-h1: 13.6rem;
    --text-h1-sm: 8.4rem;
    --text-h2: 5.2rem;
    --text-h3: 3.2rem;
    --text-h4: 2rem;
    --text-base: 1.2rem;
    --text-sm: 0.75rem;

    /* Ratio: 1.309 */
    --text-h1-mob: 8.1rem;
    --text-h2-mob: 4.7rem;
    --text-h3-mob: 2.8rem;
    --text-h4-mob: 2.1rem;
    --text-base-mob: 1.6rem;
    --text-sm-mob: 1.2rem;

    --animate-scale-pulse-1: scale-pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animate-scale-pulse-2: scale-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animate-scale-pulse-3: scale-pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animate-scale-pulse-4: scale-pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animate-scale-pulse-5: scale-pulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @keyframes scale-pulse {
        0% {
            transform: scale(0.9);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(0.9);
        }
    }
}

@layer components {
    /* < 768px uses mob version */
    /* > 768px uses normal version */
    .text-sm-ad {
        font-size: var(--text-sm-mob);
        @media screen and (min-width: 768px) {
            font-size: var(--text-sm);
        }
    }

    .text-base-ad {
        font-size: var(--text-base-mob);
        @media screen and (min-width: 768px) {
            font-size: var(--text-base);
        }
    }

    .text-h4-ad {
        font-size: var(--text-h4-mob);
        @media screen and (min-width: 768px) {
            font-size: var(--text-h4);
        }
    }

    .text-h3-ad {
        font-size: var(--text-h3-mob);
        @media screen and (min-width: 768px) {
            font-size: var(--text-h3);
        }
    }

    .text-h2-ad {
        font-size: var(--text-h2-mob);
        @media screen and (min-width: 768px) {
            font-size: var(--text-h2);
        }
    }

    .text-h1-ad {
        font-size: var(--text-h1-mob);
        @media screen and (min-width: 768px) {
            font-size: var(--text-h1-sm);
        }
        @media screen and (min-width: 1024px) {
            font-size: var(--text-h1);
        }
    }
}

