@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import "tailwindcss";

@font-face {
    font-family: "Fira Code Static";
    src: url("./fonts/Fira_Code_400.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
}

@theme inline static {
    /* TEMPLATE FOR ADAPTIVE. DONT USE */
    --template-text-h1-ad: 0;
    --template-text-h2-ad: 0;
    --template-text-h3-ad: 0;
    --template-text-h4-ad: 0;
    --template-text-base-ad: 0;
    --template-text-sm-ad: 0;
    --template-leading-ascii-sm-ad: 0;
    /* ============================== */

    --font-mono: "Fira Code", "monospace";

    --color-bg: rgb(0, 0, 0);
    --color-bg-20: rgba(0, 0, 0, 0.2);
    --color-bg-40: rgba(0, 0, 0, 0.4);
    --color-bg-60: rgba(0, 0, 0, 0.6);
    --color-bg-80: rgba(0, 0, 0, 0.8);
    --color-primary: rgb(255, 254, 226);
    --color-primary-20: rgba(255, 254, 226, 0.2);
    --color-primary-40: rgba(255, 254, 226, 0.4);
    --color-primary-60: rgba(255, 254, 226, 0.6);
    --color-primary-80: rgba(255, 254, 226, 0.8);
    --color-accent: rgb(255, 62, 1);
    --color-accent-20: rgba(255, 62, 1, 0.2);
    --color-accent-40: rgba(255, 62, 1, 0.4);
    --color-accent-60: rgba(255, 62, 1, 0.6);
    --color-accent-80: rgba(255, 62, 1, 0.8);

    /* Ratio: 1.25, 1.33 */
    --breakpoint-xs: 480px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;

    /* Ratio: 1.618 */
    --text-h1: 13.6rem;
    --text-h1-sm: 8.4rem;
    --text-h2: 5.2rem;
    --text-h3: 3.2rem;
    --text-h4: 2rem;
    --text-base: 1.2rem;
    --text-sm: 0.75rem;

    /* Ratio: 1.309 */
    --text-h1-mob: 8.1rem;
    --text-h2-mob: 4.7rem;
    --text-h3-mob: 2.8rem;
    --text-h4-mob: 2.1rem;
    --text-base-mob: 1.6rem;
    --text-sm-mob: 1.2rem;

    /* adaptive */
    --text-h1-ad: var(--template-text-h1-ad);
    --text-h2-ad: var(--template-text-h2-ad);
    --text-h3-ad: var(--template-text-h3-ad);
    --text-h4-ad: var(--template-text-h4-ad);
    --text-base-ad: var(--template-text-base-ad);
    --text-sm-ad: var(--template-text-sm-ad);

    --animate-scale-pulse-1: scale-pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animate-scale-pulse-2: scale-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animate-scale-pulse-3: scale-pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animate-scale-pulse-4: scale-pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animate-scale-pulse-5: scale-pulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @keyframes scale-pulse {
        0% {
            transform: scale(0.9);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(0.9);
        }
    }
}

@layer components {
    /* Ratio: 1.2 */
    /* < 768px uses mob version */
    /* > 768px uses normal version */
    html {
        @apply font-mono;
        font-size: 30.2%;
        --template-text-h1-ad: var(--text-h1-mob);
        --template-text-h2-ad: var(--text-h2-mob);
        --template-text-h3-ad: var(--text-h3-mob);
        --template-text-h4-ad: var(--text-h4-mob);
        --template-text-base-ad: var(--text-base-mob);
        --template-text-sm-ad: var(--text-sm-mob);

        --template-leading-ascii-sm-ad: 1.156em;
    }

    @media screen and (min-width: 480px) {
        html {
            font-size: 36.2%;

            --template-leading-ascii-sm-ad: 1.158em;
        }
    }

    @media screen and (min-width: 640px) {
        html {
            font-size: 43.4%;

            --template-leading-ascii-sm-ad: 1.181em;
        }
    }

    @media screen and (min-width: 768px) {
        html {
            font-size: 52.1%;
            --template-text-h1-ad: var(--text-h1-sm);
            --template-text-h2-ad: var(--text-h2);
            --template-text-h3-ad: var(--text-h3);
            --template-text-h4-ad: var(--text-h4);
            --template-text-base-ad: var(--text-base);
            --template-text-sm-ad: var(--text-sm);

            --template-leading-ascii-sm-ad: 1.072em;
        }
    }

    @media screen and (min-width: 1024px) {
        html {
            --template-text-h1-ad: var(--text-h1);
        }
    }

    @media screen and (min-width: 1280px) {
        html {
            font-size: 62.5%;

            --template-leading-ascii-sm-ad: 1.073em;
        }
    }
}

@utility text-ascii-sm {
    font-family: "Fira Code Static";
    font-size: var(--template-text-sm-ad);
    line-height: var(--template-leading-ascii-sm-ad);
    white-space: pre;
    font-variant-ligatures: none;
}

.no-ligatures {
    font-variant-ligatures: none;
}
